{{#each this}}
<a id="{{id}}" href="{{url}}" class="openable list-group-item {{checkNew state}}">
    <div class="row">
        <div class="col-xs-2">
            {{renderPicture authors}}
        </div>
        <div class="col-xs-10">
            <div class="conversation-name">
                <div>
                    <span class="emphasize">{{header}}</span>
                </div>
            </div>
            <div class="conversation-text">
                <span class="{{displayStatus this}}"></span> {{emojify this}}
            </div>
            <div class="conversation-timestamp">
                <span>{{timestamp}}</span>
            </div>
        </div>
        <div class="read-button-container">
            <div title="Read" class="read-button" data-read-info="{{serializeReadInfo this}}" style="display:none;"></div>
        </div>
    </div>
</a>
{{else}}
<div class="row list-group-item">
    <div class="col-xs-12">
        <span class="center-block">No messages found</span>
    </div>
</div>
{{/each}}